.card-item {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    flex-direction: column;
}
.card-item-main{
    display: flex;
    justify-content: space-between;
}
.card-item-block{
    display: flex;
    align-items: center;
}


.checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
}

.checked {
    background-image: url(../../assets/check-mark.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.text-container {
    margin-left: 10px;
}

.date-container{
    margin-right: 40px;
}

.button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
}
.edit {
    background-image: url('../../assets/pencil.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.delete {
    background-image: url('../../assets/cross.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}